@import "tailwindcss";

@theme {
    --font-playfair: 'Playfair', 'NotoSansThai';
    --font-roboto-mono: 'RobotoMono', 'NotoSansThai';
    --font-noto-sans-thai: 'NotoSansThai', sans-serif;
}

@font-face{
    font-family: 'Playfair';
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face{
    font-family: 'RobotoMono';
    src: url('./fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

@font-face{
    font-family: 'NotoSansThai';
    src: url('./fonts/NotoSansThai-VariableFont_wdth\,wght.ttf') format('truetype');
}